div#plaques_professionnelles_config {
	font-family: 'Open Sans', sans-serif;
	color: #333;
	width: 1190px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	background: #F7F6F6 url('../img/area.png') repeat;
	padding: 5px;
	position: relative
}
div#plaques_professionnelles_config h1 {
	margin: 0;
	font-size: 20px;
}
div.container-left {
	float: left;
	width: 800px;
}
div.container-right {
	float: left;
	width: 375px;
}
div#plaques_professionnelles_config div#block_left {
	width: 800px;
	height: auto;
	float: left
}
div#plaques_professionnelles_config div#block_left div#apercu_content {
	clear: both;
	height: 529px;
	background: #fff;
	width: 790px;
	padding: 5px;
	position: relative;
}
div#plaques_professionnelles_config div#block_left div#text_content {
	height: 140px;
	width: 800px;
}
div#plaques_professionnelles_config div#block_left div#text_content div.img {
	width: 137px;
	height: 135px;
	background: #fff;
	float: left;
}
div#plaques_professionnelles_config div#block_left div#text_content div.img img {
	width: 130px;
	height: 130px;
	margin: 3px 0 0 3px;
}
div#plaques_professionnelles_config div#block_left div#text_content div.text {
	width: 648px;
	height: 125px;
	margin-left: 5px;
	background: #fff;
	float: left;
	padding: 5px
}
div#plaques_professionnelles_config div#block_left div#text_content div.text p {
	font-size: 12px;
	height: 85px;
	overflow-y: auto;
}
div#plaques_professionnelles_config div#block_right {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin-left: 5px;
}
div#plaques_professionnelles_config div#block_right div#dimensions {
	height: 40px;
	width: 375px;
	padding-top: 4px;
	background: #BDB8B8;
	position: relative
}
div#plaques_professionnelles_config div#block_right div#dimensions span.dimensionstext {
	color: #fff;
	display: block;
	position: relative;
	padding: 8px 0 0 10px;
	font-size: 14px;
	float: left;
	margin-right: 10px
}
div#plaques_professionnelles_config div.step_container {
	float: left;
	margin-top:  10px;
}
.ddListContainer > a {
	font-size: 12px !important;
}
.ddListContainer > ul li a {
	font-size: 12px !important;
}
div#plaques_professionnelles_config span.step {
	display: block;
	position: relative;
	-moz-border-radius: 70px; 
	-webkit-border-radius: 70px; 
	border-radius: 70px;
	background-color: #333;
	color:#fff;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	float: left;
}
div#plaques_professionnelles_config span.step_title {
	color: #c70077;
	font-weight: bold;
	font-size: 12px;
	float: left;
	display: block;
	margin-left: 5px
}
div#plaques_professionnelles_config div#block_right div#dimensions span.small {
	color: #c70077 !important;
	text-transform: lowercase;
	font-size: 12px;
}
div#plaques_professionnelles_config div#block_right div#dimensions div#hauteur_cfg, div#plaques_professionnelles_config div#block_right div#dimensions div#longueur_cfg {
	width: 70px;
	float: left;
	margin-top: 11px;
}
div#plaques_professionnelles_config div#block_right div#dimensions input[type="text"] {
	width: 60px;
	height: 18px;
	border: none;
	float: right;
	text-align: center;
	outline: 0;
}
div#plaques_professionnelles_config div#block_right div#dimensions img.dim_img {
	position: absolute;
	z-index: 10;
}
div#plaques_professionnelles_config div#block_right div#dimensions div#multi {
	background: transparent url('../img/dim_multi.png') center center no-repeat;
	width: 18px;
	height: 18px;
	float: left;
	margin-top: 11px;
}
div#plaques_professionnelles_config div#block_right div#ddList-matiere, div#plaques_professionnelles_config div#block_right2 div#ddList-police {
	font-size: 12px;
	/*margin: 5px 0 0 69px;*/
	float: right;
	margin-top: 5px;
}
div#plaques_professionnelles_config div#block_right2 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 5px 0 0 5px;
}
div#plaques_professionnelles_config div#block_right2 div#text_right div.text_left {
	background: transparent url('../img/text_16_20.png') center center no-repeat;
	width: 30px;
	height: 35px;
	float: left;
}
div#plaques_professionnelles_config div#block_right2 div#text_right input[type="text"] {
	float: left;
	border: 1px solid #DDDDDD;
	height: 25px;
	margin-top: 4px;
	margin-right: 5px;
	width: 280px;
	padding-left: 5px;
}
div#plaques_professionnelles_config div#block_right2 div#text_right input[type="text"]:focus {
	outline: 0;
}
div#plaques_professionnelles_config div#block_right2 div#text_right button {
	float: left;
	border: none;
	background: #BDB8B8;
	width: 30px;
	height: 25px;
	color: #fff;
	margin-top: 4px;
	font-weight: bold;
	cursor: hand;
}
button#cfg_size {
	float: left;
	border: none;
	background: #fff;
	width: 30px;
	height: 22px;
	color: #BDB8B8;
	margin: 9px 0 0 10px;
	font-weight: bold;
	cursor: hand;
}
button#cfg_size:hover {
	background: #c70077;
	color: #fff;
}
div#plaques_professionnelles_config div#block_right2 div#text_right button:focus, div#plaques_professionnelles_config div#block_right2 div#text_right button:hover {
	outline: 0;
	background: #c70077;
}
div#plaques_professionnelles_config div#block_right3 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 5px 0 0 5px;
}
div#plaques_professionnelles_config div#block_right3 div#motifs_contain {
	width: 310px;
	height: 60px;
	overflow-x: auto;
	overflow-y: hidden;
	float: left;
}
div#plaques_professionnelles_config div#block_right3 div#motifs_container {
	width: 310px;
	height: 60px;
	overflow-x: auto;
	float: left;
	overflow-y: hidden;
}
div#plaques_professionnelles_config div#block_right3 div#motifs_container div.motif {
	width:40px;
	height:40px;
	float: left;
	cursor: pointer;
}
div#plaques_professionnelles_config div#block_right3 div#motifs_container div.motif:hover {
	cursor: pointer;
	background-color: #c70077 !important
}
div#plaques_professionnelles_config div#block_right3 div#motif_custom {
	width: 65px;
	height: 60px;
	float: left;
	position: relative
}
div#plaques_professionnelles_config div#block_right3 div#motif_custom button {
	position: absolute;
	border: none;
	background: #F7F6F6 url('../img/upload.png') center center no-repeat;
	height: 40px;
	width: 40px;
	cursor: pointer;
	bottom: 9px;
	left: 17px;
}
div#plaques_professionnelles_config div#block_right3 div#motif_custom button:hover {
	background-color: #c70077;
	outline: 0;
}
div#plaques_professionnelles_config div#block_right4 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 5px 0 0 5px;
}
div#plaques_professionnelles_config div#block_right4 .ui-tabs .ui-tabs-nav li {
	width: 83px;
}
div#plaques_professionnelles_config div#block_right4 .ui-widget-header {
	border: none !important;
	background: none !important;
}
div#plaques_professionnelles_config div#block_right4 .ui-widget-content {
	/*border: none !important;*/
}
div#plaques_professionnelles_config div#block_right4 .ui-tabs .ui-tabs-nav li a {
	font-size: 12px;
	color: #333 !important;
}
div#plaques_professionnelles_config div#block_right4 .ui-tabs .ui-tabs-nav li a:focus, div#plaques_professionnelles_config div#block_right4 .ui-tabs .ui-tabs-nav li:focus {
	outline: 0
}
div#plaques_professionnelles_config div#block_right4 div#element, div#plaques_professionnelles_config div#block_right4 div#fond {
	overflow: hidden;

}
div#plaques_professionnelles_config div#block_right4 div#element p, div#plaques_professionnelles_config div#block_right4 div#fond p, div#plaques_professionnelles_config div#block_right4 div#bordure p {
	font-size: 12px;
	color: #333;
}
div#plaques_professionnelles_config div#block_right4 div#bordure input, div#plaques_professionnelles_config div#block_right4 div#bordure label {
	cursor: pointer;
}
div#plaques_professionnelles_config div#block_right4 div#element div.couleur_element, div#plaques_professionnelles_config div#block_right4 div#fond div.couleur_fond {
	width: 22px;
	height: 22px;
	border: 2px solid #ccc;
	float: left;
	margin: 0 5px 2px 0;
	cursor: pointer;
}
div#plaques_professionnelles_config div#block_right4 .ui-tabs .ui-tabs-panel {
	padding: 5px;
}
div#plaques_professionnelles_config div#block_right4_2 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 5px 0 0 5px;
}
div#plaques_professionnelles_config div#block_right4_2 {
	font-weight:bold;
	font-size: 13px;
	color: #c70077 !important;
}
div#plaques_professionnelles_config div#block_right4_2 div#align_container {

}
div#plaques_professionnelles_config div#block_right5 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 5px 0 0 5px;
}
div#plaques_professionnelles_config div#block_right5 p {
	font-size: 13px;
	color: #c70077 !important;
	margin: 0;
}
div#plaques_professionnelles_config div#block_right5 div#fixations {
	width: 100%;
	background: #DDDDDD;
	overflow: hidden;
	height: 70px;
}
div#plaques_professionnelles_config div#block_right5 a {
	float: left;
	font-size: 12px;
	background: #fff;
	margin: 5px;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	width: 60px;
	height: 60px;
	text-align: center
}
div#plaques_professionnelles_config div#block_right6 {
	width: 375px;
	height: auto;
	padding: 5px;
	float: left;
	background: #707176;
	margin: 5px 0 0 5px;
	text-align: center
}
div#plaques_professionnelles_config div#block_right6 p {
	color: #fff;
	font-weight: bold;
	font-size: 12px
}
div#plaques_professionnelles_config div#block_right6 p span {
	font-size: 14px;
}
div#plaques_professionnelles_config .selected {
	border: 1px solid red;
}
div#plaques_professionnelles_config div#block_right6 div#prix {
	width: 340px;
	height: 70px;
	margin: -10px auto 5px auto;
	padding-top: 10px;
	text-align: center;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}
div#plaques_professionnelles_config div#block_right6 div#prix div#prix_container {
	width: 200px;
	margin: 0 auto;
}
div#plaques_professionnelles_config div#block_right6 div#prix span#prix_ht {
	font-size: 36px;
	text-align: center;
	color: #c70077;
	display: block;
	font-weight: bold;
}
div#plaques_professionnelles_config div#block_right6 div#prix span#prix_ttc {
	display: block;
	font-size: 14px;
	font-weight: bold;
}
div#plaques_professionnelles_config div#apercu_content div#plaque_bg {
	width: 500px;
	height: 500px;
	margin: 0 auto;
	position: relative;
	/*margin: 25px auto 0 auto;*/
	/*background-image: url('../img/brilliant.png');
	background-repeat: repeat;*/
	background-color: rgba(3, 3, 3, 0.35);
}
div#plaques_professionnelles_config div#apercu_content div#plaque_content {
	width: 500px;
	height: 500px;
	margin: 0;
}
.ui-dialog{ 
	font-size: 80%;
}
button:focus {
	outline: 0;
}
div.selectedElement {
	border: 1px solid red;
}
div.draggable {
	cursor: move;
}
div.seresizer {
	width: 20px;
	height: 20px;
	background: url('../img/resize.png') no-repeat !important;
	right: -19px;
	bottom: -21px;
}
div.ui-icon-gripsmall-diagonal-se {
	display: none;
}
div.ui-rotatable-handle {
	height: 20px;
	width: 20px;
	cursor: move;
	position: absolute;
	background-image: url('../img/rotate.png');
	background-size: 100%;
	top: -18px;
	right: -20px;
}
div.delete-element {
	height: 20px;
	width: 20px;
	cursor: pointer;
	position: absolute;
	background-image: url('../img/delete.png');
	background-size: 100%;
	bottom: -18px;
	left: -20px;
}
div.elementContainer  {
	z-index: 0;
	width: auto;
	height: auto;
	max-width: 100%;
}
div.elementContainer img {
	max-width: 100%;
}
div.typeText .elemContent {
	height: auto;
}
div.typeMotif .elemContent {
	height: 145px;
}
div.placeAbove {
	height: 20px;
	width: 20px;
	cursor: pointer;
	position: absolute;
	background-image: url('../img/above.png');
	background-size: 100%;
	top: -22px;
	left: -21px;
}
div.placeUnder {
	height: 20px;
	width: 20px;
	cursor: pointer;
	position: absolute;
	background-image: url('../img/under.png');
	background-size: 100%;
	top: -22px;
	left: 2px;
}
div.fixation, div.fixation2 {
	position: absolute;
	z-index: 9999;
	width: 50px;
	height: 50px;
	background: url('../img/fix1.png');
	background-size: 100%;
}
div.fixation_g {
	top: 15px;
	left: 10px;
}
div.fixation_d {
	top: 15px;
	right: 10px;
}
div.fixation_g2 {
	top: 30px;
	left: 10px;
}
div.fixation_d2{
	top: 30px;
	right: 10px;
}
div.fixation_hg {
	top: 10px;
	left: 10px;
}
div.fixation_hd {
	top: 10px;
	right: 10px;
}
div.fixation_bg {
	bottom: 10px;
	left: 10px;
}
div.fixation_bd {
	bottom: 10px;
	right: 10px;
}
div.reset_rotate {
	background: url('../img/reset.png');
	background-size: 100%;
	position: absolute;
	width: 20px;
	cursor: pointer;
	display: none;
	height: 20px;
	right: -43px;
	top: -18px;
}
div#align_container {
	clear:both;
	width: 380px;
	height: 32px;
	padding-top: 10px;
	margin-bottom: 10px;
}
div.alignmove {
	width: 32px;
	height: 32px;
	float: left;
	margin-left: 17px;
	cursor: pointer;
}
div#center {
	background:url('../img/arrow_center.png') center center no-repeat;
}
div#move_left {
	background:url('../img/arrow_left.png') center center no-repeat;
}
div#move_right {
	background:url('../img/arrow_right.png') center center no-repeat;
}
div#move_top {
	background:url('../img/arrow_up.png') center center no-repeat;
}
div#move_bottom {
	background:url('../img/arrow_down.png') center center no-repeat;
}
div#flip_vertical {
	background:url('../img/flip_vertical.png') center center no-repeat;
}
div#flip_horizontal {
	background:url('../img/flip_horizontal.png') center center no-repeat;
}
.flipHorizontal {
	transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-khtml-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
}
.flipVertical {
	transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-khtml-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
}
div#bordure_cfg {
	font-size: 13px !important;
	font-weight: bold;
	overflow: hidden;
}
div#bordure_cfg label {
	width: 210px;
	display: block;
	float: left;
}
div#bordure_cfg input {
	width: 120px !important;
	margin-left: 5px;
	float: left;
}
div.spacer10 {
	height: 10px
}
div#colorpicker-element {
	display: none;
	padding-top: 10px;
}
li.ui-state-default {
	list-style-type: none;
}
ul#calques {
	padding-left: 0 !important;
}
ul#calques li {
	font-weight: normal !important;
	font-size: 14px !important;
	cursor: hand;
	height: 30px;
}
ul#calques li img {
	float: left;
	margin-left: 5px;
}
ul#calques li span.layer {
	float: right;
	font-size: 12px;
	margin-top: 8px;
	margin-right: 8px;
}
ul#calques li span.text {
	float: left;
	font-size: 12px;
	margin-top: 8px;
	margin-left: 5px;
	font-weight: bold;
}
a.ui-tabs-anchor {
	width: 100%;
}